/* CSS styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.toggle-sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
}

.container {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 25%; /* Define a width for the sidebar */
  background-color: #333;
  color: white;
  padding: 20px;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.sidebar.active {
  transform: translateX(0);
}

.sidebar img {
  width: 200px; /* Adjust the size of your profile picture */
  border-radius: 50%; /* Makes the image round (for a circular profile picture) */
  display: block;
  margin: 0 auto 20px; /* Centers the image */
}

.main-content {
  width: 75%;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.main-content.active {
  margin-left: 25%; /* Adjust to match the width of the sidebar */
}

h1 {
  color: #333;
}

p {
  color: #555;
  line-height: 1.6;
}
